* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   border: none;
   outline: none;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
   scroll-behavior: smooth;
   overflow-x: hidden;
   overflow-y: auto;
}

a {
   display: flex;
   text-decoration: none;
   color: #d4d4d4;
   background-color: #333;
   width: max-content;
   padding: 30px;
   font-size: 40px;
   margin: 50px auto;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 10px;
}

a.test.clicked {
   background-color: dodgerblue;
}