@use "./mixins";
@use "./variables";

// ================ All Devices =============================
.booking__container {
   background-image: url(../Assets/Backgrounds/multi-color.jpg);
   background-size: cover;
   background-repeat: no-repeat;

   main {
      height: 60dvh;
      flex: auto;
   }
   footer {
      height: 25dvh;
   }

   .back__button {
      background: #89d8ed;
   }

   main {
      justify-content: flex-start;

      .room {
         flex-direction: column;
         background-image: url("../Assets/Backgrounds/BG-2.jpeg");
         background-repeat: no-repeat;
         background-size: cover;
         padding: 2rem;
         margin-bottom: 2rem;
         height: auto;
         font-size: 1.6rem;
         cursor: pointer;

         h2 {
            margin: 0;
            transition: var(--transition);
         }
         &.expanded {
            h2 {
               margin-bottom: 2rem;
            }
         }
         &:active {
            scale: 1;
         }
         .seats {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 0.5rem;
            max-height: 0;
            overflow: hidden;
            transition: var(--transition);

            .seat {
               display: grid;
               place-items: center;
               font-size: 1.5rem;
               font-weight: 700;
               width: 100%;
               height: 6rem;
               background: lightblue;
               border: #000 1px solid;
               border-radius: 0.5rem;
               transition: color 0.2s ease-out, background-color 0.2s ease-out;

               &.booked {
                  background: dodgerblue;
                  color: var(--color-white);
               }
               &.reserved {
                  background: rgb(19, 19, 68);
                  color: #eee;
               }
               &:active {
                  scale: 0.95;
               }
            }
         }
      }

      .thePopup {
         position: absolute;
         inset: 0;
         display: none;
         place-items: center;
         width: 100%;
         height: 100dvh;
         z-index: 10;
         background: #0008;
         opacity: 0;
         transition: opacity 0.4s;

         .popupBox {
            direction: rtl;
            text-align: right;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            background: var(--color-white);
            border-left: #000 groove 1rem;
            width: 70%;
            min-height: 60%;
            padding: 4rem 2rem;
            font-size: 2rem;

            h2 {
               margin-bottom: 1rem;
            }

            ul {
               hr {
                  height: 0.2rem;
                  background: #0008;
               }
               li {
                  list-style: square;
                  margin-right: 2rem;
                  padding: 1.2rem 0;
                  font-weight: 500;
               }
            }
            .bottom {
               display: flex;
               justify-content: center;
               align-items: flex-end;
               flex: 1;
               width: 100%;
               button {
                  background: dodgerblue;
                  color: #fff;
                  text-shadow: 0.1em 0.1em #0008;
                  width: 90%;
                  height: 6rem;
                  font-family: inherit;
                  font-size: 3rem;
                  font-weight: 600;
                  &:active {
                     scale: 0.95;
                  }
               }
            }
         }
      }
   }

   footer {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 3rem;

      .invoice {
         @include mixins.center-flex;
         flex-direction: column;
         width: 70vw;
         padding: 2rem;
         background: #eee;
         box-shadow: #000 0 0 0 0.3rem;
         border-radius: 1rem;
         font-weight: 600;
         z-index: 1;

         .title {
            position: relative;
            font-size: 1.6rem;
            .down-arrow.left {
               position: absolute;
               top: 50%;
               left: -3rem;
               translate: 0 -50%;
               rotate: -90deg;
               animation: lefty 0.5s infinite;
               transition: var(--transition);
            }
            .down-arrow.right {
               position: absolute;
               right: -3rem;
               top: 50%;
               translate: 0 -50%;
               rotate: 90deg;
               animation: righty 0.5s infinite;
               transition: var(--transition);
            }
         }
         &.expanded {
            .title {
               .down-arrow.left,
               .down-arrow.right {
                  animation: none;
                  rotate: none;
               }
            }
         }

         .selection {
            width: 90%;
            text-align: center;
            max-height: 0;
            overflow: hidden;
            transition: var(--transition);
            .selectedSeats {
               display: flex;
               flex-direction: column;
               padding: 3rem;
               font-size: 1.8rem;
               max-height: 20rem;
               overflow-y: auto;
               .seatInSelected {
                  display: flex;
                  padding-bottom: 1rem;
               }
            }
            .total__price,
            .checkout__button {
               @include mixins.center-flex;
               font-size: 2.5rem;
               color: #fff;
               background: #555;
               padding: 1rem 0;
               margin-bottom: 1rem;
               width: 100%;
               border-radius: 1rem;
               span {
                  margin-left: 1rem;
               }
            }
            .checkout__button {
               display: none;
            }
         }
      }
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
   .booking__container {
      footer {
         .invoice {
            width: 500px;
         }
      }
   }
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
   .booking__container {
      main {
         padding-top: 10vh;

         .room {
            padding: 2vw;
            margin-bottom: 2vw;

            .seats {
               margin-top: 2vw;
               gap: 0.5vw;

               .seat {
                  font-size: 2vw;
                  padding: 1vw 0;
                  border-radius: 1vw;
               }
            }
         }
      }

      footer {
         .invoice {
            padding: 2vw;
            border-radius: 1vw;
            font-size: 3vw;

            .selection {
               .selected {
                  padding: 3vw;
                  font-size: 2vw;
                  .seatInSelected {
                     display: flex;
                     background: red;
                     padding: 30px;
                  }
               }
            }

            .total__price,
            .checkout__button {
               font-size: 3vw;
               padding: 1vw 0;
               margin-bottom: 1vw;
               border-radius: 2vw;
               span {
                  margin: 0 0.3vw 0 1vw;
               }
            }
         }
      }
   }
}

// ########### Animations ##################
@keyframes lefty {
   0%,
   100% {
      transform: translate(0);
   }
   50% {
      transform: translateY(30%);
   }
}

@keyframes righty {
   0%,
   100% {
      transform: translate(0);
   }
   50% {
      transform: translateY(30%);
   }
}
