@use "./theIncludes/mixins";
@use "./theIncludes/variables";

// ================ All Devices =============================
.booking__container {
   background-image: url(../Assets/Backgrounds/multi-color.jpg);
   background-size: cover;
   background-repeat: no-repeat;

   .back__button {
      background-color: #89d8ed;
      text-shadow: #000 1px 1px 3px;
   }

   .middle {
      justify-content: flex-start;
      padding-top: 10vh;

      .room {
         @include mixins.center-flex;
         flex-direction: column;
         background-color: #eee;
         padding: 2vh;
         margin-bottom: 10px;
         cursor: pointer;
         border-radius: 8px;
         height: initial;

         h2 {
            margin: 0;
         }

         .seats {
            display: grid;
            justify-items: center;
            max-height: 0;
            overflow: hidden;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 100%;
            margin-top: 3vh;
            gap: 0.5vh;
            transition: var(--transition);

            .seat {
               display: grid;
               place-items: center;
               font-size: 2vh;
               width: 100%;
               padding: 1vh 0;
               background-color: lightblue;
               border: #000 1px solid;
               border-radius: 1vh;

               &.booked {
                  background-color: dodgerblue;
                  color: var(--color-white);
               }
            }

            &.hidden {
               transition: var(--transition);
               display: none;
            }
         }
      }
   }
   .bottom {
      width: 100%;
      height: 100px;
      background-color: aqua;
      border: 5vh solid red;
      border-left-color: transparent;
      border-right-color: transparent;
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
}
