<<<<<<< HEAD
@use "./mixins";
@use "./variables";

// ================ All Devices =============================
.checkout__container {
   background-image: url("../Assets/Backgrounds/checkout.svg");
   background-repeat: no-repeat;
   background-size: cover;

   .back__button {
      background: #ff92b9;
   }

   main {
      justify-content: flex-start;
      form {
         color: var(--color-white);
         text-shadow: #000 0.25vh 0.25vh 0vh;
         background: #6439ad;

         .selected {
            background: #eee;
            min-height: 20vh;
            width: 100%;
            border-radius: 1vh;
            padding: 2vh;
            text-shadow: none;
            color: var(--color-black);

            .bookedSeat {
               font-size: 2vh;
            }
            .price {
               margin-top: 2vh;
               font-size: 3vh;
            }
         }
      }
   }
   .overlay {
      position: fixed;
      inset: 0;
      background: #0008;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.8s;

      &.open {
         pointer-events: all;
         opacity: 1;
      }
   }
   .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70vw;
      min-height: 20rem;
      background: beige;
      border-radius: 1rem;
      padding: 1rem;
      font-size: 1.5rem;
      scale: 0;
      pointer-events: none;
      transition: scale 0.8s;

      .mark {
         height: 10rem;
      }

      &.good {
         .bottom {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;

            button {
               width: 100%;
               height: 5rem;
               margin-top: 1rem;
               background: dodgerblue;
               color: #fff;
               font-size: 2rem;
               cursor: pointer;
            }
         }
      }
      &.open {
         scale: 1;
         pointer-events: all;
=======
.checkout--page {
   background-image: url(../Assets/Backgrounds/checkout.svg);
   background-size: cover;
}

.checkout__back {
   background-color: var(--clr-checkout-back);
   color: var(--clr-white);
}

.checkout__form {
   background-color: var(--clr-checkout-form);
}

.selected {
   min-height: 10rem;

   padding: 1rem;

   font-size: 2rem;

   background-color: var(--clr-white);

   border-radius: 1rem;
}

.selected__price {
   margin-bottom: 2rem;

   font-size: 3rem;
   font-weight: 700;
}

// Popup Styles
hr {
   width: 80%;
   height: 0.2rem;

   margin-block: 1em;

   background-color: var(--clr-black-2);
}

.instructions {
   width: 80%;
   max-height: 40rem;

   font-size: 1.5rem;
   font-weight: 600;

   direction: rtl;
   overflow-y: auto;
   scroll-behavior: smooth;
   li {
      margin-bottom: 1rem;

      color: red;

      text-align: right;
      list-style: decimal inside;
      &.special {
         color: purple;

         font-weight: 800;

         list-style: disc inside;
      }
   }
   .close--button {
      width: 100%;

      margin-top: 3rem;
   }
}

.popup__seats {
   width: 70%;
   max-height: 10rem;

   overflow-y: auto;
   scrollbar-gutter: stable both-edges;
   .bookedSeat {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      margin-top: 1rem;

      font-size: 2rem;
      font-weight: 500;
      > * {
         display: grid;
         place-items: center;

         width: 100%;
         height: 4rem;

         background-color: var(--clr-white-d);
>>>>>>> 2380477 (All files)
      }
   }
}

<<<<<<< HEAD
// ================ Medium Devices =============================
@media (min-width: 768px) {
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
=======
.popup__price,
.popup__ID,
.copy--button,
.close--button {
   display: grid;
   place-items: center;

   width: 70%;
   height: 4rem;

   margin-top: 1rem;

   font-size: 2rem;
   font-weight: 600;
}

.popup__price,
.popup__ID {
   background-color: var(--clr-black-4);
   color: var(--clr-white);
}
.popup__ID {
   color: rgb(255, 52, 255);
}

.copy--button,
.close--button {
   background-color: orange;
>>>>>>> 2380477 (All files)
}
