@use "./theIncludes/mixins";
@use "./theIncludes/variables";

// ================ All Devices =============================
.checkout__container {
   background-image: url("../Assets/Backgrounds/checkout.svg");
   background-repeat: no-repeat;
   background-size: cover;

   .back__button {
      background: #ff92b9;
   }

   main {
      justify-content: flex-start;
      form {
         color: var(--color-white);
         text-shadow: #000 0.25vh 0.25vh 0vh;
         background: #6439ad;

         .selected {
            background: #eee;
            min-height: 20vh;
            width: 100%;
            border-radius: 1vh;
            padding: 2vh;
            text-shadow: none;
            color: var(--color-black);

            .bookedSeat {
               font-size: 2vh;
            }
            .total__price {
               margin-top: 2vh;
               font-size: 3vh;
            }
         }
      }
   }
   .overlay {
      position: fixed;
      inset: 0;
      background: #0008;
      
   }
   .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: flex;
      width: 70vw;
      min-height: 30rem;
      background: beige;
      border: 0.4rem solid dodgerblue;
      border-radius: 1rem;
      padding: 1rem;
      font-size: 1.5rem;

      .popupInfo {
         display: flex;
         flex-direction: column;
         width: 100%;
         text-align: center;
      }
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
}
