@forward "variables";

.contact--page {
   background: url(../Assets/Backgrounds/mint.jpg);
   background-size: cover;
}

.contact__main {
   // height: 85dvh;
}

.contact__back {
   background: var(--clr-contact);
   color: var(--clr-white-e);
}

.contact__form {
   background: var(--clr-contact);
}
