@use "./theIncludes/mixins";
@use "./theIncludes/variables";

// ================ All Devices =============================
.contact__container {
   background-image: url("../Assets/Backgrounds/mint.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   .back__button {
      background: var(--color-teal);
   }

   main {
      form {
         color: var(--color-white);
         background: var(--color-teal);
         text-shadow: #000 0.25em 0.2em 0;
      }
   }
   .overlay {
      position: fixed;
      inset: 0;
      background-color: #000a;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s;

      &.active {
         pointer-events: all;
      }
   }

   .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--color-white);
      box-shadow: inset 0 0 0 0.3rem coral;
      width: 60%;
      border-radius: 1rem;
      padding: 3rem 1rem;
      font-size: 2rem;
      scale: 0;
      z-index: 10;
      transition: scale 0.3s;

      .check-mark {
         height: 7rem;
         width: 7rem;
         background-color: #000;
         border-radius: 50%;
         margin-bottom: 2rem;
      }
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
}
