@use "./mixins";
@use "./variables";

// ================ All Devices =============================
.home__container {
   background-image: url(../Assets/Backgrounds/BG-1.jpeg);
   background-repeat: no-repeat;
   background-size: cover;

   .logo {
      margin-bottom: -5rem;
      font: {
         size: 10rem;
         family: Great Vibes;
         weight: 400;
      }
   }

   main {
      .button {
         margin-bottom: 2rem;
      }
   }

   .button {
      border: 2px solid var(--color-black);
      background-image: url(../Assets/Backgrounds/BG-1.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--color-black-l1);
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
   .home__container {
      .logo {
         font-size: 15rem;
      }
   }
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
   .home__container {
      .logo {
         font-size: 10rem;
         margin-bottom: -0.5em;
      }
   }
}
