@use "./theIncludes/mixins";
@use "./theIncludes/variables";

.home__container {
   background-image: url(../Assets/Backgrounds/BG-1.jpeg);
   background-repeat: no-repeat;
   background-size: cover;

   .logo {
      font: {
         size: min(25vw, 10rem);
         family: Great Vibes;
         weight: 400;
      }
   }
   @media (max-height: 767px) and (orientation: landscape) {
      .logo {
         font-size: 5rem;
      }
   }

   .button {
      color: var(--color-light);
      background-color: var(--color-blue);
      text-shadow: #444 0 0 10px, #444 0 0 10px;

      .button__icon {
         background-color: var(--color-dark-blue);
         .fa-star {
            color: gold;
         }
      }
   }
}
