@use "./theIncludes/mixins";
@use "./theIncludes/variables";

// ================ All Devices =============================
.home__container {
   background-image: url(../Assets/Backgrounds/BG-1.jpeg);
   background-repeat: no-repeat;
   background-size: cover;

   .top {
      height: 25vh;
   }

   .middle {
   }

   .bottom {
   }

   .logo {
      font: {
         size: 10vh;
         family: Great Vibes;
         weight: 400;
      }
   }

   .middle {
      .button {
         margin-bottom: 2vh;
      }
   }

   .button {
      color: var(--color-black);
      border: 2px solid var(--color-black);
      .button__icon {
         color: var(--color-black);
      }
      &.booking__button,
      &.membership__button,
      &.contact__button {
         background-image: url(../Assets/Backgrounds/BG-1.jpeg);
         background-repeat: no-repeat;
         background-size: cover;
      }
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
   .home__container {
      .logo {
         font-size: 15vh;
      }
   }
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
   .home__container {
      .logo {
         font-size: 10vw;
      }
   }
}
