@forward "variables";

.main--page {
   background-image: url(../Assets/Backgrounds/BG-1.jpeg);
   background-size: cover;
}

.main__main {
   height: 70dvh;
   @media (max-height: 767px) and (orientation: landscape) {
      height: 70dvw;
   }
}

.logo {
   margin-top: 10rem;

   font-family: Great Vibes;
   font-size: 10rem;

   @media (max-height: 767px) and (orientation: landscape) {
      margin-top: 5rem;
      font-size: 7rem;
   }
}

.booking--button,
.membership--button,
.contact--button {
   background-image: url(../Assets/Backgrounds/BG-1.jpeg);
   background-size: cover;

   margin-bottom: 2rem;

   border: solid 0.2rem var(--clr-black);

   @media (max-height: 767px) and (orientation: landscape) {
   }
}

.contact--button {
   height: 7rem;

   margin: 0;

   border-radius: 1rem;

   display: flex;
   justify-content: space-between;
   align-items: center;

   height: 7rem;

   padding: 2rem;

   font-size: 2.5rem;
   font-weight: 600;

   border-radius: 1rem;
   box-shadow: inset 0 0 0.4rem var(--clr-black-4);
}

.main__info--button {
   background-image: url(../Assets/Backgrounds/BG-1.jpeg);
   border: solid 0.2rem var(--clr-black);
}
