<<<<<<< HEAD
@use "./mixins";
@use "./variables";

// ================ All Devices =============================
.membership__container {
   @include mixins.center-flex;
   background-image: url(../Assets/Backgrounds/BG-2.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   flex-direction: column;

   .button {
      &.back__button {
         background: #7ebeac;
      }

      &.weekly__button,
      &.monthly__button {
         height: 15rem;
         margin-bottom: 2rem;
         text-shadow: #0008 0.25em 0.25em;

         .button__text {
            right: 0;
            top: 0;
            transform: none;
            height: 100%;
            width: 70%;

            .type {
               position: absolute;
               right: 0;
               top: 0;
               font-size: 2rem;
               margin: 2rem;
               text-align: right;
            }
            .price {
               position: absolute;
               right: 0;
               bottom: 0;
               width: max-content;
               font-size: 4rem;
               margin: 2rem;
            }
         }

         .button__icon {
            top: 0;
            left: 0;
            transform: none;
            margin: 2rem 0 0 2rem;
         }
      }

      &.weekly__button {
         background: var(--color-mint);
      }
      &.monthly__button {
         background: var(--color-magenta);
      }
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
=======
@forward "variables";

.membership--page {
   background: url(../Assets/Backgrounds/BG-2.jpeg);
   background-size: cover;
}

.membership__back {
   background: var(--clr-membership-dark);
   color: var(--clr-white-e);
}

.weekly-button,
.monthly-button {
   position: relative;

   width: min(70vw, 50rem);
   height: 15rem;

   margin-bottom: 2rem;
   padding: 1rem;

   color: var(--clr-white);

   border-radius: 1rem;
   box-shadow: inset 0 0 0.5rem var(--clr-black-3);
}

.weekly-button {
   background: var(--clr-weekly);
}

.monthly-button {
   background: var(--clr-monthly);
}

.weekly-text,
.monthly-text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   height: 100%;
   width: 80%;

   text-shadow: 0.2rem 0.2rem 0 var(--clr-black-2);
}

.membership-type {
   font-size: 2.8rem;
   font-weight: 600;
}

.membership-price {
   font-weight: 700;
   font-size: 3.5rem;
}

.weekly-icon,
.monthly-icon {
   position: absolute;
   top: 1rem;
   left: 1rem;

   font-size: 3rem;
>>>>>>> 2380477 (All files)
}
