.monthly--page {
   background: url(../Assets/Backgrounds/monthly-bg.jpg);
   background-size: cover;
}

.monthly__back {
   background-color: var(--clr-monthly-dark);
   color: var(--clr-white);
}

.monthly__form {
   background-color: var(--clr-monthly-light);
}

.monthly__info--button {
   background-color: var(--clr-monthly-dark);
   color: var(--clr-white);
}