.successful--page {
   background-image: url(../Assets/Backgrounds/successful.jpg);
   background-size: cover;
}

.successful--main {
   justify-content: flex-start;
   align-items: flex-start;
}

.home--button {
   display: flex;
   justify-content: space-between;
   align-items: center;

   height: 7rem;

   padding: 1rem;
   margin: 0;

   font-size: 2.5rem;
   font-weight: 600;

   background-color: #d9d9d9;

   border-radius: 1rem;
   box-shadow: inset 0 0 0.4rem var(--clr-black-4);
}

.home__info--button {
   background-color: #d9d9d9;
}

.mark {
   height: 20rem;
}

.title__done {
   font-size: 3rem;
   font-weight: 600;
}

.title__reminder {
   color: #565656;

   font-size: 2rem;
   font-weight: 600;
}

.done--information {
   background-color: var(--clr-white);

   width: 100%;

   padding: 1rem;
   margin: 2rem;
}

.done__part {
   margin-bottom: 2rem;
}

.done__title {
   margin-bottom: 1rem;

   font-size: 2.25rem;
   font-weight: 600;
}

.done__info {
   margin-bottom: 0.5rem;

   color: #4954b5;

   font-size: 2rem;
   font-weight: 500;
}
