:root {
   // ############# Colors ###############
   // White #####
   --color-white: #fff;
   --color-white-l1: #eee;
   --color-white-l2: #ddd;
   --color-white-l3: #ccc;

   // Black #####
   --color-black: #000;
   --color-black-l1: #111;
   --color-black-l2: #222;
   --color-black-l3: #333;
   // Shadows
   --color-black-s1: #0009;
   --color-black-s2: #0006;
   --color-black-s3: #0003;

   --color-blue: #05bfdb;
   --color-light-light-blue: #e9f8f9;
   --color-light-blue: #99dbf5;
   --color-dark-blue: #0a4d68;
   --color-mint: #45cfdd;
   --color-light-mint: #a5f1fa;
   --color-dark-mint: #176972;
   --color-teal: #0a8d8d;
   --color-light-teal: #00cccc;
   --color-dark-teal: #045252;
   --color-magenta: #ad43d7;
   --color-light-magenta: #ffb3ff;
   --color-dark-magenta: #8b008b;

   // ############# Transitions ###############
   --transition-vfast: 200ms;
   --transition-fast: 400ms;
   --transition-medium: 600ms;
   --transition-slow: 800ms;
   --transition-vslow: 1s;
}
