@use "./theIncludes/normalizing";
@use "./theIncludes/mixins";
@use "./theIncludes/variables";
@use "./home";
@use "./booking";
@use "./membership";
@use "./weekly_membership";
@use "./monthly_membership";
@use "./contact";

// ================ All Devices =============================
.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 100%;
   padding: 0 15vw;
   font-family: "Rubik", sans-serif;
   overflow-y: auto;
}

header {
   @include mixins.center-flex;
   padding: 5vh 0;
   width: 100%;
}

.middle {
   @include mixins.center-flex;
   flex: 1;
   align-items: center;
   flex-direction: column;
   padding: 5vh 0;
   width: 100%;
}

footer {
   @include mixins.center-flex;
   padding: 5vh 0;
   width: 100%;
}

// ****** Button **********

.button {
   @include mixins.rounded-rectangle(70vw, 8vh, 2vh);
   @include mixins.center-flex;
   position: relative;
   box-shadow: inset #444 0 0 1vh;

   .button__icon {
      @include mixins.center-flex;
      position: absolute;
      top: 50%;
      left: 2vh;
      transform: translate(0, -50%);
      font-size: 3vh;
   }
   .button__text {
      position: absolute;
      top: 50%;
      right: 3vh;
      transform: translate(0, -50%);
      font-size: 3vh;
   }
}

// ****** Form **********
form {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 70vw;
   padding: 2vh;
   position: relative;
   border-radius: 1vh;
   box-shadow: #000 3px 3px 5px;

   h3 {
      font-size: 2.2vh;
      align-self: flex-start;
      margin: 0 0 0.5vh 1vh;
   }

   %field {
      width: 100%;
      padding: 2vh;
      border-radius: 1vh;
   }

   .name__input,
   .phone__input {
      @extend %field;
      height: 8vh;
      margin-bottom: 2vh;
      font-size: 1.8vh;
      box-shadow: #000 3px 3px 2px;
   }
   .message__input {
      @extend %field;
      height: 15vh;
      font-family: inherit;
      font-size: 1.8vh;
   }
   .submit__button {
      margin-top: 5vh;
      height: 6vh;
      width: calc(100% - 4vh);
      border-radius: 1vh;
      box-shadow: #000 0px 0px 3px inset;

      cursor: pointer;
      font: {
         family: inherit;
         size: 2.5vh;
         weight: 600;
      }
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
   .button {
      width: 500px;
   }
   form {
      width: 500px;
      .name__input,
      .phone__input {
         font-size: 1.6vh;
      }
      .message__input {
         font-size: 1.8vh;
      }
   }
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
   .button {
      border-radius: 2vw;
      height: 10vw;
      .button__icon {
         left: 1.5vw;
         font-size: 3vw;
      }
      .button__text {
         right: 3vw;
         font-size: 3vw;
      }
   }

   form {
      border-radius: 1vw;
      padding: 2vw;
      h3 {
         font-size: 3vw;
         margin: 0 0 0.5vw 1vw;
      }

      %field {
         padding: 2vw;
         border-radius: 1vw;
      }
      .name__input,
      .phone__input {
         @extend %field;
         height: 8vw;
         margin-bottom: 2vw;
         font-size: 1.8vw;
      }
      .message__input {
         @extend %field;
         height: 15vw;
         margin-bottom: 10vw;
         font-size: 2vw;
      }
      .submit__button {
         font-size: 2.5vw;
         height: 6vw;
         width: calc(100% - 4vw);
         border-radius: 1vw;
      }
   }
}
