@use "./theIncludes/normalizing";
@use "./theIncludes/mixins";
@use "./theIncludes/variables";
@use "./home";
@use "./membership";
@use "./weekly_membership";
@use "./monthly_membership";
@use "./contact";

// ================ All Devices =============================
.container {
   @include mixins.center-flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   padding: 5vh 15vw;
   font-family: "Rubik", sans-serif;
}

.top {
   @include mixins.center-flex;
}

.middle {
   @include mixins.center-flex;
   flex: 3;
   flex-direction: column;
   padding: 5vh 0;
}

.bottom {
   @include mixins.center-flex;
   flex: 1;
}

.button {
   @include mixins.rounded-rectangle(70vw, 8vh, 2vh);
   @include mixins.center-flex;
   position: relative;
   box-shadow: inset #444 0 0 1vh;

   .button__icon {
      @include mixins.center-flex;
      position: absolute;
      top: 50%;
      left: 2vh;
      transform: translate(0, -50%);
      font-size: 3vh;
   }
   .button__text {
      position: absolute;
      top: 50%;
      right: 3vh;
      transform: translate(0, -50%);
      text-shadow: #444 0 0 10px, #444 0 0 10px;
      font-size: 3vh;
   }

   &.back__button {
      background-color: var(--color-teal);
      .button__icon {
         background-color: var(--color-dark-teal);
      }
   }
}

// ================ Medium Devices =============================
@media (min-width: 768px) {
   .button {
      width: 500px;
   }
}
// ================ Large Devices =============================
@media (min-width: 992px) {
}
// ================ Desktop Devices =============================
@media (min-width: 1200px) {
}

// ================ Landscape Orientation ========================
@media (max-height: 767px) and (orientation: landscape) {
   .container {
      height: max-content;
   }

   .button {
      height: 10vw;
      .button__icon {
         left: 1.5vw;
         font-size: 3vw;
      }
      .button__text {
         right: 3vw;
         font-size: 3vw;
      }
   }
}
