@use "./theIncludes/normalizing";
@use "./theIncludes/mixins";
@use "./theIncludes/variables";
@use "./home";
@use "./booking";
@use "./membership";
@use "./weekly_membership";
@use "./monthly_membership";
@use "./contact";
@use "./checkout";

html {
   font-size: 62.5%;
}

// #################### All Devices ############################
.container {
   display: flex;
   flex-direction: column;
   min-height: 100dvh;
   padding: 0 1.5rem;
   font-family: "Rubik", sans-serif;
}

header {
   @include mixins.center-flex;
   align-items: flex-end;
   height: 15dvh;
}

main {
   @include mixins.center-flex;
   flex-direction: column;
   padding: 5rem 0;
   flex: 1;
   height: 70dvh;
   overflow-y: auto;
}

footer {
   @include mixins.center-flex;
   height: 15dvh;
}

/* ****** Button ********** */
.button {
   @include mixins.rounded-rectangle(70vw, 7rem, 1.5rem);
   @include mixins.center-flex;
   position: relative;
   box-shadow: inset #0008 0 0 0.5rem;

   .button__icon {
      @include mixins.center-flex;
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translate(0, -50%);
      font-size: 3rem;
   }
   .button__text {
      position: absolute;
      top: 50%;
      right: 3rem;
      transform: translate(0, -50%);
      font-size: 3rem;
   }

   &.back__button {
      text-shadow: #0008 0.2em 0.2em;
   }
}

/* ****** Form ********** */
form {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 70vw;
   padding: 2rem;
   border-radius: 1rem;
   box-shadow: 0.3em 0.3em 0.3em #0006;

   > h3 {
      font-size: 2rem;
      align-self: flex-start;
      margin: 0 0 0.5rem 0;
   }

   %field {
      width: 100%;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: #0008 0.2em 0.2em;
      transition: box-shadow 300ms;
      &:focus {
         box-shadow: #000 0.2em 0.2em, inset dodgerblue 0 0 0 0.2em;
      }
   }

   .name__input,
   .phone__input {
      @extend %field;
      height: 6rem;
      margin-bottom: 2rem;
      font-size: 1.8rem;
   }
   .message__input {
      @extend %field;
      height: 12rem;
      font-family: inherit;
      font-size: 1.8rem;
   }
   .submit__button {
      margin-top: 2em;
      height: 6rem;
      width: 100%;
      border-radius: 1rem;
      box-shadow: #000 0 0 0 0.1em inset;

      cursor: pointer;
      font-size: 2.5rem;
      font-weight: 600;
   }
}

/* ================ Medium Devices ============================= */
@media (min-width: 768px) {
   .button {
      width: 50rem;
   }
   form {
      width: 50rem;
      .name__input,
      .phone__input,
      .message__input {
         font-size: 2rem;
      }
   }
}

/* ================ Landscape Orientation ======================== */
@media (max-height: 767px) and (orientation: landscape) {
   header {
      height: 15dvw;
   }
   main {
      height: 75dvw;
   }
   footer {
      height: 15dvw;
   }

   /* ****** Button ********** */
   .button {
      width: 50vw;
   }

   /* ****** Form ********** */
   form {
      width: 50vw;
   }
}
