@use "../theIncludes/mixins";
@use "../theIncludes/variables";

* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   border: none;
   outline: none;
   box-sizing: border-box;
}

body {
   scroll-behavior: smooth;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   transition: var(--transition);
}

a {
   color: #fff;
}
