:root {
   // Colors
   --color-white: #fff;
   --color-black: #000;
   --color-light: hsl(0, 0%, 90%);
   --color-blue: #05bfdb;
   --color-light-light-blue: #e9f8f9;
   --color-light-blue: #99dbf5;
   --color-dark-blue: #0a4d68;
   --color-mint: #45cfdd;
   --color-light-mint: #a5f1fa;
   --color-dark-mint: #176972;
   --color-teal: #0a8d8d;
   --color-light-teal: #00cccc;
   --color-dark-teal: #045252;
   --color-magenta: #ad43d7;
   --color-light-magenta: #ffb3ff;
   --color-dark-magenta: #8b008b;

   // Transitions
   --transition: all 300ms ease;
}
