:root {
   // Colors
   --color-white: #fff;
   --color-black: #000;
   --color-light: hsl(0, 0%, 90%);
   --color-blue: #1e90ff;
   --color-light-blue: #75c2f6;
   --color-dark-blue: #1d5d9b;
   --color-mint: #45cfdd;
   --color-light-mint: #a5f1fa;
   --color-dark-mint: #176972;
   --color-teal: #0a8d8d;
   --color-light-teal: #00cccc;
   --color-dark-teal: #045252;
   --color-purple: #a076f9;
   --color-light-purple: #c9b4f7;
   --color-dark-purple: #4208BB;
}
